{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}">
{% endblock %}

{% block content %}
<div class="tool-container">
    <aside class="tool-sidebar">
        <h2>音乐分析工具</h2>
        <nav>
            <a href="{{ url_for('tool.analyse') }}" class="active">调式分析</a>
            <!-- 其他工具链接 -->
            <a href="{{ url_for('tool.track_separate') }}" class="active">音轨分离</a>
            <a href="{{ url_for('tool.inspiration') }}" class="active">灵感记录</a>
        </nav>
    </aside>

    <main class="tool-main">
        {% block tool_content %}{% endblock %}
    </main>
</div>
{% endblock %}

